<div class="container mt-5">
  <h1>Circuit factory</h1>
  <button class="btn btn-primary" [disabled]="isStarted" (click)="start()">Start</button>
  <button class="btn btn-primary" [disabled]="!isStarted" (click)="stop()">Stop</button>

  <h2>Pipeline 1</h2>
  <h4>Count of developed circuit: {{signalRService.countCirquiteAtFirthPipeline}}</h4>
  <div class="row">
    <div class="col">
      <div class="row">
        Component 1
      </div>
      <div class="row" *ngIf="signalRService.pipeline1ActiveComponent === 0 && isStarted">
        <div class="preloader-wrapper big active" >
          <div class="spinner-layer spinner-red-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="row">
        Component 2
      </div>
      <div class="row" *ngIf="signalRService.pipeline1ActiveComponent === 1 && isStarted">
        <div class="preloader-wrapper big active" >
          <div class="spinner-layer spinner-red-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="row">
        Component 3
      </div>
      <div class="row" *ngIf="signalRService.pipeline1ActiveComponent === 2 && isStarted">
        <div class="preloader-wrapper big active" >
          <div class="spinner-layer spinner-red-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="row">
        Component 4
      </div>
      <div class="row" *ngIf="signalRService.pipeline1ActiveComponent === 3 && isStarted">
        <div class="preloader-wrapper big active" >
          <div class="spinner-layer spinner-red-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
          </div>
        </div>
      </div>
    </div>


  </div>

  <h2>Pipeline 2</h2>
  <h4>Count of developed circuit: {{signalRService.countCirquiteAtSeccondPipeline}}</h4>
  <div class="row">
    <div class="col">
      <div class="row">
        Component 1
      </div>
      <div class="row" *ngIf="signalRService.pipeline2ActiveComponent === 0 && isStarted">
        <div class="preloader-wrapper big active" >
          <div class="spinner-layer spinner-red-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="row">
        Component 2
      </div>
      <div class="row" *ngIf="signalRService.pipeline2ActiveComponent === 1 && isStarted">
        <div class="preloader-wrapper big active" >
          <div class="spinner-layer spinner-red-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="row">
        Component 3
      </div>
      <div class="row" *ngIf="signalRService.pipeline2ActiveComponent === 2 && isStarted">
        <div class="preloader-wrapper big active" >
          <div class="spinner-layer spinner-red-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="row">
        Component 4
      </div>
      <div class="row" *ngIf="signalRService.pipeline2ActiveComponent === 3 && isStarted">
        <div class="preloader-wrapper big active" >
          <div class="spinner-layer spinner-red-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
          </div>
        </div>
      </div>
    </div>


  </div>

  <h2>Pipeline 3</h2>
  <h4>Count of developed circuit: {{signalRService.countCirquiteAtThirdPipeline}}</h4>
  <div class="row">
    <div class="col">
      <div class="row">
        Component 1
      </div>
      <div class="row" *ngIf="signalRService.pipeline3ActiveComponent === 0 && isStarted">
        <div class="preloader-wrapper big active" >
          <div class="spinner-layer spinner-red-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="row">
        Component 2
      </div>
      <div class="row" *ngIf="signalRService.pipeline3ActiveComponent === 1 && isStarted">
        <div class="preloader-wrapper big active" >
          <div class="spinner-layer spinner-red-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="row">
        Component 3
      </div>
      <div class="row" *ngIf="signalRService.pipeline3ActiveComponent === 2 && isStarted">
        <div class="preloader-wrapper big active" >
          <div class="spinner-layer spinner-red-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="row">
        Component 4
      </div>
      <div class="row" *ngIf="signalRService.pipeline3ActiveComponent === 3 && isStarted">
        <div class="preloader-wrapper big active" >
          <div class="spinner-layer spinner-red-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
          </div>
        </div>
      </div>
    </div>


  </div>

  <h2>Pipeline 4</h2>
  <h4>Count of developed circuit: {{signalRService.countCirquiteAtFourthPipeline}}</h4>
  <div class="row">
    <div class="col">
      <div class="row">
        Component 1
      </div>
      <div class="row" *ngIf="signalRService.pipeline4ActiveComponent === 0 && isStarted">
        <div class="preloader-wrapper big active" >
          <div class="spinner-layer spinner-red-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="row">
        Component 2
      </div>
      <div class="row" *ngIf="signalRService.pipeline4ActiveComponent === 1 && isStarted">
        <div class="preloader-wrapper big active" >
          <div class="spinner-layer spinner-red-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="row">
        Component 3
      </div>
      <div class="row" *ngIf="signalRService.pipeline4ActiveComponent === 2 && isStarted">
        <div class="preloader-wrapper big active" >
          <div class="spinner-layer spinner-red-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="row">
        Component 4
      </div>
      <div class="row" *ngIf="signalRService.pipeline4ActiveComponent === 3 && isStarted">
        <div class="preloader-wrapper big active" >
          <div class="spinner-layer spinner-red-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
          </div>
        </div>
      </div>
    </div>


  </div>


  <h4 class="mb-3">List of Messages</h4>



  <mat-accordion style="margin-bottom: 5%" >
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Show Logs
        </mat-panel-title>

      </mat-expansion-panel-header>
      <div *ngIf="signalRService.messages.length==0">
        <p>You haven't send or received messages</p>
      </div>
      <div *ngFor="let m of signalRService.messages">
        <div class="mb-2 mt-2">
          <div> {{m}} </div>
          <hr>
        </div>
      </div>
    </mat-expansion-panel>

  </mat-accordion>


</div>



